* {
  box-sizing: border-box;
}
.container-wrap {
  user-select: none;
  display: flex;
  padding: 0;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

/*
Nav menu
*/
.container-wrap .navMenu {
  border: 1px solid rgb(167, 167, 167);
  height: 100%;
  width: 30%;
  display: flex;
}
.navMenu .menuTab {
  border-right: 1px solid rgb(167, 167, 167);
  background-color: #0079FF;
  display: flex;
  width: 67px;
  flex-direction: column;
  position: relative;
  height: 100%;
}
.menuTab > .tabList > div{
  display: flex;
  justify-content: center;
  cursor: pointer;
  padding: 20px;
}
.menuTab > .tabList > div:hover {
  background-color: rgb(101, 173, 255);
}
.navMenu .menuTab i{
  width: 24px;
  height: 24px;
  font-size: 25px;
  color: white;
}
.menuTab .avatar {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 50px;
  height: 45px;
  display: flex;
  justify-content: center;
  position: relative;
}
.menuTab .avatar img {
  width: 45px;
  border-radius: 100%;
  border: 1.5px solid white;
  height: 100%;
}
.menuTab .avatar .avtOnline {
  width: 12px;
  height: 12px;
  background-color: #62CB00;
  position: absolute;
  top: 35px;
  left: 36px;
  border-radius: 100%;
  border: 1px solid white;
}
.menuTab > .tabList-bottom {
  position: relative;
  margin-top: 230px;
}

.menuTab .tabList-bottom > div{
  display: flex;
  width: 100%;
  justify-content: center;
  cursor: pointer;
  padding: 20px;
}
.chatList {
  width: 85%;
  padding: 10px;
}
.chatList .header .usrName {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 15px;
} 
.chatList .header {
  width: 100%;
  padding-bottom: 20px;
  border-bottom: 0.5px solid rgb(170, 170, 170);
}
.chatList .header .search {
  display: flex;

}
.chatList .header .search .i{
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 20px;
  color: rgb(124, 124, 124);
}
.chatList .header .search .i:hover {
  color: rgb(73, 73, 73);
}
.chatList .header .search input{
  border-radius: 50px;
  font-size: 15px;
  outline: none;
  width: 80%;
  padding: 5px 15px 5px 15px;
  border: 0.5px solid rgb(177, 177, 177);
}
.chatList .header .search input:focus{
  box-shadow: 0 0 1px #bebebe,
  0 0 2px #bebebe,
  0 0 6px #bebebe,
  0 0 19px #bebebe;
  border: 0.5px solid green;
}
.chatList .body {
  margin-top: 5px;
}
.chatList .body > .message-list .messageFilter {
  font-size: 14px;
}
.messageFilter .drop-title {
  position: relative;
  margin-bottom: 10px;
}
.messageFilter .drop-content {
  position: absolute;
  background-color: white;
  display: none;
  left: 50px;
  border: 0.5px solid #bebebe;
  padding: 10px;
  z-index: 2;
}
.messageFilter .drop-title:hover .drop-content {
  display: block;
  color: black;
}
.messageFilter .drop-title:hover {
  color: #0079FF;
}
.message-list .list .messageCard {
  padding: 10px;
  display: grid;
  grid-template-columns: 20% 60% 20%;
}
.message-list .list .messageCard:hover {
  background-color: rgb(245, 244, 244);
}
.message-list .list .messageCard img {
  width: 45px;
  height: 45px;
  border-radius: 100%;
}



/*
Body message
*/
.container-wrap .bodyMessage {
  border: 1px solid rgb(167, 167, 167);
  height: 100%;
  width: 70%;
}